* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-family: "Poppins", italic !important;
  width: 100%;
  height: 55vh;
  background-image: url("./16.jpg");
  background-size: cover;
}
.Banner__Content {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 100%;
  padding-left: 4rem;
  -webkit-animation: Text 1s ease-in-out;
          animation: Text 1s ease-in-out;
}
.Banner__Content__Title {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.4em;
  opacity: 0.8;
  margin-bottom: 0;
  line-height: 1;
}
.Banner__Content__Subtitle {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
}
.Banner__Content__Discription {
  max-width: 37%;
  line-height: 30px;
  font-size: 16px;
  color: #777777;
  padding-bottom: 2rem;
}
.Banner__Button {
  border: 2px solid #206664;
  background-color: #206664;
  color: #fff;
  width: 9rem;
  padding: 8px 22px;
  border-radius: 8px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  background-image: linear-gradient(45deg, white 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 0.3s ease-in-out;
}
.Banner__Button:hover {
  background-position: 0;
  color: #206664;
  transition: all 0.3s;
}

@-webkit-keyframes Text {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes Text {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}/*# sourceMappingURL=banner.css.map */