*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@mixin Flex($justify,$align,$direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
.Banner{
    @include Flex(flex-start , center , row);
    font-family: 'Poppins' , italic !important;
    width: 100%;
    height: 55vh;
    background-image: url('./16.jpg');
    background-size: cover;
    &__Content{
        @include Flex(center , left , column);
        width: 100%;
        padding-left:4rem;
        animation: Text  1s ease-in-out;        
        &__Title{
            font-size: 18px;
            text-transform: capitalize;
            font-weight: 600;
            letter-spacing: 0.4em;
            opacity: 0.8;
            margin-bottom: 0;
            line-height: 1;
        }
        &__Subtitle{
            font-size: 60px;
            font-weight: 600;
            text-transform: uppercase;
        }
        &__Discription{
            max-width: 37%;
            line-height: 30px;
            font-size: 16px;
            color: #777777;
            padding-bottom: 2rem;
        }
    }
    &__Button{
        border:2px solid #206664;
        background-color: #206664;
        color: #fff;
        width: 9rem;
        padding: 8px 22px;
        border-radius: 8px;
        line-height: 20px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        background: {
          image: linear-gradient(45deg,white 50%, transparent 50%);
          position: 100%;
          size: 400%;
        }
        transition: background 0.3s ease-in-out;
        
        &:hover {
          background-position: 0;
          color :#206664;
          transition: all 0.3s;
        }
    }
}

@keyframes Text{
    0%{
        transform: translateY(20%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}